<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Budget Buddy</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dela Gothic One">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
        <style>
            .bg-dark,
            .btn-dark {
                background-color: #262633!important;
            }

            /* Apply some basic styling to the container */
            .image-rotate {
                width: 200px;
                /* Adjust the width and height as needed */
                height: 200px;
                margin: 50px auto;
                position: relative;
                display: none;
            }

            /* Define the animation */
            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }

            /* Apply the animation to the image */
            .image-rotate img {
                animation: rotate 4s linear infinite;
                /* You can adjust the duration (4s) as needed */
            }
        </style>
    </head>
    <body class="bg-dark">
        <header class="bg-dark text-white p-3 d-inline-flex w-100 align-items-center gap-3 shadow position-fixed">
            <img src="{{ url_for('static', path='/budgetBuddy.png') }}" alt="Budget buddy" height="60"/>
            <h1>Budget Buddy</h1>
        </header>

        <main class="pt-5 bg-dark">
            <section aria-label="Inputs" class="pt-5 pb-4 d-flex flex-wrap gap-3 bg-black w-100 text-white" style="--bs-bg-opacity: .5;">
                <div class="px-5 mt-4 w-100">
                    <div class="row">
                        <div class="col">
                            <label class="d-flex flex-wrap small">
                        Inflation rate (%)
                    <input type="text" class="border-0 rounded w-100 bg-dark text-white" name="inflation" id="inflation"  style="height: 2.5rem;"/>
                            </label>
                        </div>
                        <div  class="col">
                            <label class="d-flex flex-wrap small">
                        Current household income (£)
                    <input type="text" class="border-0 rounded w-100 bg-dark text-white" name="income" id="income"  style="height: 2.5rem;"/>
                            </label>
                        </div>
                        <div  class="col">
                            <label class="d-flex flex-wrap small">
                        Salary growth rate (%)
                    <input type="text" class="border-0 rounded w-100 bg-dark text-white" name="salary-growth" id="salary-growth"  style="height: 2.5rem;"/>
                            </label>
                        </div>
                        <div class="col">
                            <label class="d-flex flex-wrap small">
                        Year
                    <input type="text" class="border-0 rounded w-100 bg-dark text-white" name="year" id="year" placeholder="2023"  style="height: 2.5rem;"/>
                            </label>
                        </div>
                    </div>
                    <div class="row pt-3 ms-auto w-100">
                        <div class="col d-flex justify-content-end">
                            <button id="submitinputs" class="btn btn-dark rounded-0">Submit</button>
                        </div>
                    </div>
                </div>
            </section>
            <section  aria-label="Filters" class="py-3 px-5 mb-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <!-- <label class="d-flex flex-wrap flex-column small">
                        Category
<select id="expenditureCategories" class="border-3" style="height: 2.5rem;" name="expenditureCategories">
                                <option value="all">All</option>
                                <optgroup label="Expense Categories">
                                    <option value="entertainment">Entertainment</option>
                                    <option value="transport">Transport</option>
                                    <option value="food">Food</option>
                                    <option value="clothing">Clothing</option>
                                    <option value="toiletrolls">Toilet rolls</option>
                                </optgroup>
                            </select>
                        </label>-->
                    </div>
                </div>
            </section>
            <section aria-label="Figures">
                <div class="d-flex w-100 flex-wrap gap-3 flex-row px-5 pe-3">
                    <div class="row gap-5 px-3 mb-3 w-100 d-flex justify-content-between">
                        <div class="col text-center p-3 bg-black rounded shadow align-items-center text-white" style="--bs-bg-opacity: .5;">
                            <h2>Total household expenditure</h2>
                            <p id="expenditureValue" class="display-1">...</p>
                        </div>
                        <div class="col text-center p-3 bg-black rounded shadow align-items-center text-white" style="--bs-bg-opacity: .5;">
                            <h2>Expected household income</h2>
                            <p id="expectedIncome" class="display-1">...</p>
                        </div>
                    </div>
                </div>
            </section>
            <section aria-label="visualisations" class="px-5 my-5 py-5 text-white">
                <div class="image-rotate" id="image-rotate">
                    <img src="{{ url_for('static', path='/budgetBuddy.png') }}" alt="Loading" role="status" id="loading" height="60"/>
                </div>
                <p class="display-5">Charts go here lol</p>
            </section>
            <section aria-label="Table of data" class="px-5 my-5 py-5 text-white">
                <!--<details>

                    <summary>View all data</summary>-->
                <table id="expenditureTable">
                    <thead class="lead">
                        <tr>
                            <th class="p-3">Category</th>
                            <th class="p-3">Expenditure (£)</th>
                            <th class="p-3">Percentage (%)</th>
                        </tr>
                    </thead>
                    <tbody ></tbody>
<!--                    <tbody>-->
<!--                        <tr>-->
<!--                            <th class="p-3" scope="row">Entertainment</th>-->
<!--                            <td class="p-3">1000</td>-->
<!--                            <td class="p-3">30%</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th class="p-3" scope="row">Transport</th>-->
<!--                            <td class="p-3">300</td>-->
<!--                            <td class="p-3">9%</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th class="p-3" scope="row">Food</th>-->
<!--                            <td class="p-3">400</td>-->
<!--                            <td class="p-3">12%</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th class="p-3" scope="row">Clothing</th>-->
<!--                            <td class="p-3">200</td>-->
<!--                            <td class="p-3">6%</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th class="p-3" scope="row">Toilet rolls</th>-->
<!--                            <td class="p-3">150</td>-->
<!--                            <td class="p-3">4.5%</td>-->
<!--                        </tr>-->
<!--                        &lt;!&ndash; Add more rows for additional categories and data &ndash;&gt;-->
<!--                    </tbody>-->
                </table>

                <!--</details>-->

            </section>
        </main>

        <footer class="bg-black p-5 text-white" style="--bs-bg-opacity: .5;">
            <p>&copy; 2023 Team Fidget Spinner</p>
        </footer>
        <!-- Add any additional scripts or JavaScript libraries here -->

        <script>
            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
            function stripNonNumericalCharsAndParseToInt(value) {
                // Remove non-numeric characters using a regular expression
                const numericalValue = value.replace(/[^0-9]/g, '');

                // Parse the numerical value into an integer
                const parsedInt = parseInt(numericalValue, 10);

                if (isNaN(parsedInt)) {
                    return 0;
                }

                return parsedInt;
            }

            function calculateCompoundInterest(principal, rate, time, compoundingFrequency) {
                console.log(principal, rate / 100, time)

                const compoundInterest = principal * Math.pow(1 + (rate / 100), time);

                return compoundInterest.toFixed(2); // Return the compound interest rounded to 2 decimal places
            }

            function formatCurrency(number, decimalPlaces = 2, currencySymbol = '£') {
                const fixedNumber = number.toFixed(decimalPlaces);
                const parts = fixedNumber.split('.');
                const integerPart = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                const formattedNumber = `${currencySymbol}${integerPart}${decimalPlaces > 0
                    ? '.' + parts[1]
                    : ''}`;
                return formattedNumber;
            }

            // Function to update the table
            function updateTable(data) {
                const tableBody = document.querySelector('#expenditureTable tbody');

                // Clear existing rows
                tableBody.innerHTML = '';
                console.log(data)

                // Iterate over the JSON data and populate the table\
                total = data.total
                for (const cat of ["food", "clothing", "entertainment", "transport"]) {
                    const expenditure = data[cat];
                    const percentage = (expenditure / total * 100).toFixed(2) + "%";

                    const row = `
                            <tr>
                              <th class="p-3" scope="row">${capitalizeFirstLetter(cat)}</th>
                              <td class="p-3">${formatCurrency(expenditure)}</td>
                              <td class="p-3">${percentage}</td>
                            </tr>
                          `;

                    tableBody.insertAdjacentHTML('beforeend', row);
                }
                }


            async function fetchData() {
                const inflation = stripNonNumericalCharsAndParseToInt(document.getElementById('inflation').value || "0");
                const year = stripNonNumericalCharsAndParseToInt(document.getElementById('year').value || "2000");
                const income = stripNonNumericalCharsAndParseToInt(document.getElementById('income').value || "0");
                const salaryIncrease = stripNonNumericalCharsAndParseToInt(document.getElementById('salary-growth').value || "0");
                const newIncomeInt = calculateCompoundInterest(income, salaryIncrease, year - 2023, 1)
                const newIncome = newIncomeInt.toString();

                const url = `/predict?inflation=${inflation}&year=${year}&income=${newIncome}`;

                try {
                    // edit class and show loading icon
                    document.getElementById('image-rotate').style.display = "block";
                    const response = await fetch(url);
                    const data = await response.json();
                    document.getElementById('image-rotate').style.display = null;

                    console.log(data.success)

                    // Update the HTML elements with the fetched data
                    document
                        .getElementById('expenditureValue')
                        .innerText = `${formatCurrency(parseInt(data.total))}`;
                    document
                        .getElementById('expectedIncome')
                        .innerText = `${formatCurrency(parseInt(newIncome))}`;


                    updateTable(data)


                } catch (error) {
                    console.error('Error fetching data:', error);
                }
            }

            const submitButton = document.getElementById('submitinputs');
            submitButton.addEventListener('click', fetchData);
            // Call fetchData when the page loads to initially populate the data
        </script>
    </body>
</html>
